@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #1C1B19;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#content {
    background-color: #F2D0A7;
    font-family: 'Sora', sans-serif;
    width: 45rem;
    height: 25rem;
    padding: 1rem;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

#content h1 {
    opacity: 0.5;
    font-size: 1.25rem;
}

#content p {
    height: 10rem;
    margin: 2rem 0;
    font-size: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 480px) {
    #content p {
        font-size: 1.5rem;
        overflow: scroll;
    }
}

.btn {
    background-color: #83A603;
    color: #FFF;
    font-size: 1rem;
    border: 0;
    border-radius: 0.5rem;
    width: 15rem;
    height: 2.5rem;
}

.btn:hover {
    cursor: pointer;
}