@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    background-color: #333333;
    overflow-x: hidden;
}

main {
    background-color: #FAFAFA;
    transform-origin: top left;
    z-index: 5;
    transition: transform 0.5s linear;
    padding-bottom: 15vh;
}

#content {
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
}

main.nav-active {
    transform: rotate(-20deg);
}

h1 {
    margin-top: 10vh;
    margin-bottom: 0.25rem;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin: 1.25rem 0;
}

#my-dog {
    width: 100%;
    height: auto;
}

aside {
    z-index: 5;
    position: absolute;
    top: 0;
    transform-origin: top left;
    transition: all 0.5s linear;
}

aside #menu {
    display: none;
    position: fixed;
    top: 70vh;
    color: #FFF;
}

aside ul {
    list-style: none;
}

aside a {
    color: #FFF;
    text-decoration: none;
}

aside ul li {
    margin-left: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: 400;
}

aside ul li + li {
    margin-left: 4rem;
}

aside ul li + li + li {
    margin-left: 6rem;
}

#menu.nav-active {
    display: block;
}

#menu li:hover {
    text-decoration: underline;
    font-weight: 900;
}

#icons {
    position: absolute;
    top: -8rem;
    left: -8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #D87093;
    transform-origin: center;
    transition: transform 0.5s linear;
}

#icons.nav-active {
   transform: rotate(90deg); 
}

.icon {
    margin-left: 9.5rem;
    width: 3rem;
    height: 3rem;
}

#hide {
    transform-origin: center;
    transform: rotate(45deg);
}