@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #080607;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}

#state {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#initial-state {
    background-color: #F2CB05;
    width: 40%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

#final-state {
    display: none;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.prop {
    background-color: #F27405;
    color: #FFF;
    text-align: center;
}

.prop h2 {
    background-color: #080607;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border: 0;
}

.prop p {
    width: 100%;
    border: 0.1rem solid #FFF;
    padding: 1rem 1rem;
    font-size: 2rem;
}